node_modules
# Keep environment variables out of version control
.env
.env.local
*.env


/generated/prisma

/generated/prisma

*.log
npm-debug.log*

*.db
*.db-journal

.vscode/
.DS_Store
Thumbs.db

dist/
dist-ssr/
*.local
